html {    
    display: grid;
    place-items: center;
}

body {
    background-color: black;
    color: white;
    width: 80%;
    margin-top: 5%;
}

a, button, input, input::-webkit-file-upload-button {
    transition: 0.2s;
}

a {
    display: block;
    background-color: #1b1b1b;
    padding: 10px;
    border-radius: 10px;
    color: white;
    text-decoration: none;
    font-size: 24px;
}

img {
    vertical-align: middle;
    height: 24px;
}

button {
    background-color: #1e5200;
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 16px;
    margin: 10px 0;
    border-radius: 10px;
}

button:hover {
    background-color: #338b00;
}

input {
    background-color: #1b1b1b;
    border: none;
    color: white;
    padding: 10px;
    font-size: 16px;
    border-radius: 10px;
    width: 100%;
}

input::-webkit-file-upload-button {
    background-color: #3b3b3b;
    border: none;
    color: white;
    padding: 10px;
    font-size: 16px;
    border-radius: 10px;
}

input:hover, a:hover {
    background-color: #2b2b2b;
}

input:hover::-webkit-file-upload-button {
    background-color: #5b5b5b;
}