<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link href="/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/style.css">
    <link rel="shortcut icon" href="https://avatars.githubusercontent.com/u/42164502" type="image/x-icon">
    <meta content="smhsmh" property="og:title" />
    <meta content="ya whatever lol" property="og:description" />
    <meta content="https://smhsmh.club" property="og:url" />
    <meta content="#000000" data-react-helmet="true" name="theme-color" />
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container-fluid">
      <a style="padding-left:10px;" class="navbar-brand" href="/">smhsmh</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="/dl"><img src="/assets/icons/download.svg"> Downloads</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://forks.smhsmh.club"><img src="/assets/icons/git-branch.svg"> Fork Graph</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://github.com/saboooor"><img src="/assets/icons/github.svg"> Github</a>
          </li>
        </ul>
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="https://pup.smhsmh.club"><img style="width: 27px;" src="https://pup.smhsmh.club/assets/images/pup.png"> Pup Bot</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://netherdepths.com"><img style="width: 27px;" src="https://netherdepths.com/assets/images/nd.png"> Nether Depths</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>