<%- include("partials/header", { title: 'Last updated May 18, 2022', description: 'Go to smhsmh.club/forkdrawing to propose any changes' }) %>

    <section class="section is-fullheight-with-navbar">
      <img src="https://raw.githubusercontent.com/saboooor/fork-graph/main/img.png" style="width: 100%; border-radius: 10px"></iframe>
    </section>
  </body>

</html>
<script src="/bulma.min.js"></script>