<% const img = 'https://raw.githubusercontent.com/saboooor/fork-graph/main/img.png?v=4'; %>

<%- include("partials/header", { title: 'Last updated August 30, 2022', description: 'Go to github.com/saboooor/fork-graph to propose any changes', image: { url: img, big: true } }) %>

    <section class="section is-fullheight-with-navbar">
      <img src="<%= img %>" style="width: 100%; border-radius: 10px"></iframe>
    </section>
  </body>

</html>
<script src="/bulma.min.js"></script>