<%- include("partials/header", { title: 'smhsmh', description: 'Welcome to sab\'s hellhole' }) %>

    <section class="hero is-dark is-fullheight-with-navbar">
      <div class="hero-body">
        <div class="container has-text-centered">
          <p class="title">
            smhsmh.club
          </p>
          <p class="subtitle">
            Homepage
          </p>
        </div>
      </div>
    </section>

  </body>

</html>
<script src="/bulma.min.js"></script>