/* 
  Style.css file is linked in the header template, therefore
  it is applied to every page of our application.
  Write some style to begin.
*/

.card {
  background-color: #00000000;
  border: none;
  color: white;
  text-align: center;
}

#buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

body {
  position: relative;
  background-image: linear-gradient(315deg, #000000, #703c00, #000000);
  background-size: 400% 400%;
  animation: bganim 25s ease infinite;
  color: white;
}

a:hover {
  transform: scale(0.9);
  transition: 0.3s ease-in-out;
}

a {
  transform: scale(1);
  transition: 0.3s ease-in-out;
}

@keyframes bganim {
  0% {
      background-position: 0% 0%
  }
  50% {
      background-position: 100% 100%
  }
  100% {
      background-position: 0% 0%
  }
}