/* 
  Style.css file is linked in the header template, therefore
  it is applied to every page of our application.
  Write some style to begin.
*/

.card {
  background-color: rgb(20, 20, 20);
  color: white;
  text-align: center;
}

#buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}

body {
  position: relative;
  background-color: rgb(20, 20, 20);
  color: white;
}