<%- include("partials/header", { path, title: "Home" }) %>

<div style="height: calc(100% - 69px); display: flex; align-items: center;">
  <div class="d-grid gap-2" style="width: 100%;">
    <h2 style="text-align: center;">smhsmh.club</h2>
    <h3 style="text-align: center;">ya whatever lol look at the top of the site lazyass</h3>
  </div>
</div>

<%- include("partials/footer") %>