<%- include("partials/header", { bot, user, path, title: "Home" }) %>

<div style="height: calc(100% - 56px); display: flex; align-items: center;">
  <div class="d-grid gap-2" style="width: 100%;">
    <div id="buttons">
      <img src="https://pup.smhsmh.club/assets/images/pup.png" style="max-width: 18rem;" id="buttons">
    </div>
    <p></p>
    <h2 style="text-align: center;">Pup Bot</h2>
    <h2 style="text-align: center;">A bot that does stuff ig</h2>
    <p></p>
    <div id="buttons">
      <a class="btn btn-primary text-white" style="width: 100px; text-align: center;" href="/dashboard">Dashboard</a>
      <a class="btn btn-primary text-white" style="width: 150px; text-align: center;" href="<%= discordInvite %>" target="_blank" rel="noopener noreferrer">Support Server</a>
    </div>
  </div>
</div>

<%- include("partials/footer") %>