<%- include("partials/header", { bot, user, path, title: "Home" }) %>

<div class="container-sm center" style="margin-top: 25px;">
  <div class="d-grid gap-2 col-6 mx-auto">
    <h2>Pup Bot</h2>
    <h2>A bot that does stuff ig</h2>
    <p></p>
    <a class="btn btn-secondary text-white" href="/dashboard">Dashboard</a>
    <a class="btn btn-warning text-white" href="<%= discordInvite %>" target="_blank" rel="noopener noreferrer">Discord Server</a>
    <h1>TODO: add more stuff idk</h1>
  </div>
</div>

<%- include("partials/footer") %>