<%- include("partials/header", { bot, user, path, title: "Home" }) %>

<div style="height: calc(100% - 69px); display: flex; align-items: center;">
  <div class="d-grid gap-2" style="width: 100%;">
    <div class="centered">
      <img src="/assets/images/pup.png" style="max-width: 18rem; max-height: 18rem;" class="centered">
    </div>
    <p></p>
    <h2 style="text-align: center;">Pup Bot</h2>
    <h2 style="text-align: center;">A bot that does stuff ig</h2>
    <p></p>
    <div class="centered">
      <a class="btn btn-primary text-white" style="text-align: center; margin: 5px;" href="/dashboard">Dashboard</a>
      <a class="btn btn-primary text-white" style="text-align: center; margin: 5px;" href="/discord">Support Server</a>
    </div>
  </div>
</div>

<%- include("partials/footer") %>