<%- include("partials/header", { bot, user, path, title: "Terms of Use" }) %>

<div style="margin-top: 25px;">
  <div class="d-grid gap-2 col-6 mx-auto">
    <h1 style="text-align: center;">Terms of Use</h1>
    <h1 style="text-align: center;">As of November 28th, 2021.</h1>
    <hr>
    <h2>By using Pup's services in any form, you agree to the following Terms of Use.</h2>

    <h3>You may not abuse any of Pup's services in any way shape or form for a malicious reason.</h3>
  </div>
</div>