<%- include("partials/header", { bot, user, path, title: "Privacy Policy & TOS" }) %>

<div style="margin-top: 50px;">
  <div class="d-grid gap-2 col-6 mx-auto">
    <h1 style="text-align: center;">Privacy Policy / Terms of Use</h1>
    <h1 style="text-align: center;">As of November 28th, 2021.</h1>
    <hr>
    <h2>By using Pup's services in any form, you agree to the following privacy policy / terms of use and the storage of your data.</h2>

    <h3>1. What information is stored?</h3>
        <ul style="font-size: 20px;">
            <li>GuildId for settings</li>
            <li>UserId for punishments and vote data</li>
            <li>All information set in your guild's settings are stored</li>
        </ul>
    <h3>2. Why this information is stored and how its used:</h3>
    <ul style="font-size: 20px;">
        <li>We store your guildId to keep track of which settings are for which guild</li>
        <li>We store your userId if you have been banned/muted from a guild, it gets deleted afterwards.</li>
        <li>We store your userId if you have voted to make sure you are able to use certain vote-locked features.</li>
        <li>All information set in your guild's settings are stored for reference, and basically make the bot work.</li>
    </ul>
    <h3>3. Who gets this stored data?</h3>
    <ul style="font-size: 20px;">
      <li>Settings data is available to administrators of your guild</li>
      <li>all other data is only available to the Pup developers only.</li>
    </ul>
    <h4>For any Questions and/or concerns about stored data and/or how to remove it please contact the owner in our <a href="/discord">Support Server</a>.</h4>
    <br>
    <h3>You may not abuse any of Pup's services in any way shape or form for any malicious reason.</h3>
    <h2>Note: We reserve the right to change this without notifying our users.</h2>
  </div>
</div>

<%- include("partials/footer") %>