<%- include("partials/header", { bot, user, path, title: "Privacy Policy" }) %>

<div style="margin-top: 25px;">
  <div class="d-grid gap-2 col-6 mx-auto">
    <h1 style="text-align: center;">Terms of Use</h1>
    <h1 style="text-align: center;">As of November 22nd, 2021.</h1>
    <hr>
    <h2>By using Shoto or Shoto's website in any form and you agree to the following Terms of Use.</h2>

    <h3>1. You may not use Shoto or any of Shoto's related services if you're under the legal age to use Discord. If caught, you will get blacklisted from our services and reported to Discord's T&S team.</h3>
    <h3>2. You may not abuse Shoto or any of Shoto's related services in any way shape or form (Includes but not limited to: spam errors, e</h3>
  </div>
</div>

<%- include("partials/footer") %>